/*  * Colors references */

/*
  /*text color: #484848;*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.post-1 {
  background: #F3D250;
}

.post-2 {
  background: #8D8741;
}

.post-3 {
  background: #659DBD;
}

.post-4 {
  background: #DAAD86;
}

.post-1 img:hover {
  cursor: pointer;
  background: #9d27b0;
  opacity: 0.7;
}

.post-2 img:hover {
  cursor: pointer;
  background: #9bb800;
  opacity: 0.6;
}

.post-3 img:hover {
  cursor: pointer;
  background: #ed5120;
  opacity: 0.6;
}

.post-4 img:hover {
  cursor: pointer;
  background: #9d27b0;
  opacity: 0.6;
}

.post_content_right::after {
  content: "07 mar";
  position: relative;
  font-size: 4vh;
  font-weight: 200;
  right: 0.5em;
  top: 1em;
}

.post_content_left::after {
  content: "06 mar";
  position: relative;
  font-size: 4vh;
  font-weight: 200;
  left: 2.4em;
  top: 1em;
}

.post-3::after {
  content: "04 mar";
}

.post-4::after {
  content: "01 mar";
}

.post-text:hover {
  cursor: pointer;
  opacity: 0.6;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-right: 11px;
  background-color: #99ccff;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: -40px;
}

.navigation li {
  position: relative;
  padding: 48px 15px;
  top: 20px;
  right: 10%;
  margin: 0 15px 0px 0;
  font-weight: 300;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.navigation li:hover {
  background-color: #162b4d;
  height: 1vh;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 200;
  padding: 0 20em 0 0;
}

.logo span {
  color: #9d27b0;
  position: relative;
}

.section {
  display: flex;
  flex-direction: row;
}

.background {
  background: url(/homework/img/section1.jpg) no-repeat;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background h2 {
  color: #fff;
  margin: 150px 0 0 -75px;
  font-size: 40px;
  font-weight: 200;
  padding-left: 7%;
}

.background p {
  color: #fff;
  width: 61%;
  padding-left: 17px;
  font-size: 0.8em;
  font-weight: 200;
  line-height: 20px;
}

.post:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.post:nth-child(odd) {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.content-blocks-travel {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2em 1em;
}

.post-hd_right,
.post-hd_left {
  width: 90%;
  color: #484848;
  font-weight: 200;
  font-size: 5vmin;
  padding: 0.4em 0.4em;
}

.post-hd_left {
  width: 100%;
}

.post-hd_cr {
  padding-left: 5em;
}

.post-text_right {
  width: 80%;
  color: #484848;
  padding: 1em;
}

.post-text_left {
  padding: 0 1em 0 2em;
  width: 30vw;
  color: #484848;
}

img {
  max-width: 100%;
  min-height: 100%;
}


.content-blocks-travel .post-img {
  min-width: 50%;
}

.content-blocks-news {
  width: 32%;
  background: #fff;
}

.content-blocks-news .news-img {
  height: auto;
  display: flex;
  flex-direction: column;
}

.news {
  margin: 2em 0;
  border: 1px solid #162b4d;
  font-family: roboto;
  font-weight: 200;
}

.news .post-text {
  border: none;
  padding: 0 2em;
}

.news .post-text_hd {
  padding: 0 0em;
}

.news .news_btn {
  cursor: pointer;
  background-color: #fff;
  width: 8.2em;
  height: 3em;
  font-weight: 500;
  border: 2px solid black;
}

.footer {
  background-color: #162b4d;
  color: #fff;
  height: 20vh;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-col-1 {
  font-weight: 100;
  font-size: 2vh;
}

.footer_text_right {
  margin: 2em 1em 2em 0em;
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    display: inline-block;
    text-align: center;
  }

}

@media screen and (min-width: 768px) {
  .footer-wrap {
    text-align: center;
  }
}