body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.calendar__header {
  background-color: black;
  color: white;
  margin: 0 0 50px 0;
  padding: 3vh;
  font-weight: 500;
}

.calendar__main__header {
  display: grid;
  grid-template-columns: repeat(7, 75px);
  grid-template-rows: 40px;
  grid-column-gap: 24px;
  align-items: center;
  justify-content: center;
}

.calendar__main__header__content {
  display: grid;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.calendar__main__content {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  grid-template-rows: repeat(5, 70px);
  grid-gap: 10px;
  justify-content: center;
}

.calendar__main__content__days {
  display: grid;
  align-items: center;
  justify-content: center;
}

.bg-color_white {
  background-color: white;
  border: 1px solid lightgray;
}

.bg-color_grey {
  background-color: #D0D0D0;;
}