@media screen and (min-width: 900px) {
  * {
    margin: 0;
    padding: 0; }

  .header {
    width: 100%;
    height: 100%;
    color: #FFFFFF; }
    .header .header_wrap {
      height: 100vh;
      width: 100%;
      background-size: contain;
      background: url(../img/header-bg.png) no-repeat center center;
      background-color: #0b013c; }
      .header .header_wrap .header_preheading {
        display: inline-block;
        border: 1px solid white;
        width: 11%;
        margin: 0.9em 6.7em;
        padding: 0 0.4em;
        font-family: "Open Sans";
        font-size: 1.7em;
        font-weight: 300;
        line-height: 1.2em; }
        .header .header_wrap .header_preheading a {
          color: #FFFFFF;
          text-decoration: none; }
        .header .header_wrap .header_preheading a:hover {
          color: #FFFFFF;
          text-decoration: underline; }
      .header .header_wrap .header_heading {
        margin: 0.6em 0 0 2.2em;
        font-family: "Roboto";
        font-size: 5em;
        font-weight: 700;
        line-height: 2em; }
      .header .header_wrap .header_description {
        margin: 0 0 0 9.2em;
        font-family: "Open Sans";
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.2em; }
      .header .header_wrap .header_text {
        width: 25%;
        margin: 1em 0 0 11em; }
      .header .header_wrap input {
        height: 8%;
        margin: 2em 0 0 13em; }
      .header .header_wrap button {
        height: 8%;
        width: 7%;
        margin: 1em 1em;
        background-color: #f8cb8a;
        border: none; }

  .section {
    background-color: #fefaf3;
    width: 100vw; }
    .section .section_header {
      text-align: center; }
      .section .section_header .section_article .section_article_preheading {
        padding: 5em 0 1.2em;
        font-family: "Open Sans";
        font-size: 1em;
        font-weight: 300;
        line-height: 1em; }
      .section .section_header .section_article .section_article_heading {
        color: #0b013c;
        font-family: "Roboto";
        font-size: 2em;
        font-weight: 600;
        line-height: 2em; }
      .section .section_header .section_article .section_plug {
        width: 6vw;
        height: 10px;
        margin: 0 37em 1.2em;
        background-color: #f8cb8a; }
      .section .section_header .section_article .section_article_text {
        color: #808080;
        width: 54%;
        margin: 0 19em 8em; }
    .section .section_card_main {
      display: flex; }
      .section .section_card_main .section_card_img {
        width: 50%;
        height: 78vh;
        margin: 0 0 0 10em; }
      .section .section_card_main .section_card_right_container {
        width: 20%;
        background-color: #FFFFFF;
        padding: 2em; }
        .section .section_card_main .section_card_right_container .section_card_preheading {
          padding-bottom: 1em;
          font-family: "Open Sans";
          font-size: 1.8em;
          font-weight: 300;
          line-height: 1em; }
        .section .section_card_main .section_card_right_container .section_card_heading {
          color: #0b013c;
          width: 10%;
          font-family: "Roboto";
          font-size: 3em;
          font-weight: 600;
          line-height: 1em; }
        .section .section_card_main .section_card_right_container .section_plug {
          width: 8vw;
          height: 1.5vh;
          margin: 1em 0;
          background-color: #f8cb8a; }
        .section .section_card_main .section_card_right_container .section_card_text {
          color: #808080;
          font-family: "Open Sans";
          font-size: 1.1em;
          font-weight: 300;
          line-height: 1em; }
    .section .section_card_body {
      display: flex;
      justify-content: space-between;
      margin: 2em 0em; }
      .section .section_card_body .section_card {
        display: flex;
        flex-direction: column; }
        .section .section_card_body .section_card .section_card_img {
          width: 50%;
          height: 50vh;
          margin: 4em 0 0 10em; }
        .section .section_card_body .section_card .section_card_bottom_text {
          background-color: #FFFFFF;
          width: 45%;
          margin: 0 10em;
          padding: 1em 1em; }
    .section .section_prefooter {
      height: 80vh;
      background: url(/homework/img/space-bg.png) no-repeat center center;
      background-color: #0b013c;
      color: #FFFFFF;
      text-align: center; }
      .section .section_prefooter .section_article_preheading {
        padding: 5em 0 1.2em;
        font-family: "Open Sans";
        font-size: 1em;
        font-weight: 300;
        line-height: 1em; }
      .section .section_prefooter .section_article_heading {
        width: 45%;
        padding: 0 11em;
        font-family: "Roboto";
        font-size: 2em;
        font-weight: 600;
        line-height: 2em; }
      .section .section_prefooter .section_article_text {
        width: 50%;
        margin: 0 20em; }
      .section .section_prefooter .section_plug {
        width: 6vw;
        height: 10px;
        margin: 0 37em 1.2em;
        background-color: #f8cb8a; }

  .footer {
    background: url(/homework/img/footer-bg.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    color: #FFFFFF; }
    .footer .footer-wrap {
      height: 60vh;
      width: 100%; }
      .footer .footer-wrap .footer_logo {
        width: 30%;
        height: 50%;
        padding: 7em 0 0 40em;
        margin: 0px auto; }
      .footer .footer-wrap .footer_heading {
        margin: -4em 0 0 7.5em;
        font-family: "Roboto";
        font-size: 2em;
        font-weight: 600;
        line-height: 2em; }
      .footer .footer-wrap .footer_text {
        width: 17%;
        margin: 1em 15em; }
        .footer .footer-wrap .footer_text a {
          color: #FFFFFF;
          text-decoration: none; }
        .footer .footer-wrap .footer_text a:hover {
          color: #FFFFFF;
          text-decoration: underline; } }
