input {
  margin: 0 0 0 47%;
}

ol {
  margin: 0 46%;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

ol {
  padding: 20px 0;
}

li {
  padding: 5px;
}
a {
  text-decoration: none;
}

.done {
  text-decoration: line-through;
  background-color: lime;
}

.quickly {
  text-decoration: none;
  background-color: orange;
}