body {
  background-color: #ffffff; }

.header-wrap {
  background: url(../img/m-h-day.jpg);
  background-position: center;
  border-bottom-right-radius: 350px;
  margin: -0.5em;
  padding: 0 5vw 22vh 0; }
  .header-wrap .landing-logo {
    display: flex; }
    .header-wrap .landing-logo img {
      width: 2.5vw;
      height: 5vh;
      padding-left: 10vw;
      padding-top: 2vh; }
    .header-wrap .landing-logo p {
      margin: 0px;
      padding: 2.5vh 0 0 0.3vw;
      color: #000000;
      font-family: "Hind", sans-serif;
      font-size: 1em;
      font-weight: 600;
      line-height: 1em; }
      .header-wrap .landing-logo p span {
        display: block;
        padding-left: 0.6vw;
        border-bottom: 1vh;
        font-family: "Hind", sans-serif;
        font-size: 0.4em;
        font-weight: 300;
        line-height: 0.4em;
        color: #000000; }
  .header-wrap .header_heading {
    margin: 0;
    position: relative;
    color: #2c2f3c;
    width: 30%;
    padding: 1.3em 0 0 2.8em;
    z-index: 1;
    font-family: "Hind", sans-serif;
    font-size: 2.9em;
    font-weight: 900;
    line-height: 1em; }
    .header-wrap .header_heading:after {
      position: absolute;
      width: 40%;
      height: 25%;
      top: 18vh;
      left: 21vh;
      line-height: 1vh;
      background-color: #14a0c7;
      content: "";
      z-index: -1; }
  .header-wrap .header_text {
    position: relative;
    color: #2c2f3c;
    width: 410px;
    padding: 21px 0 0 128px;
    z-index: 0;
    font-family: "Hind", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px; }
  .header-wrap .header_button {
    width: 95px;
    height: 34px;
    background: #5d8d29;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: "Hind", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin: 25px 0 0 127px; }
  .header-wrap .login {
    color: #ffffff;
    padding-left: 98px;
    font-size: 13px;
    font-family: "Hind", sans-serif; }

.section .section_text {
  margin: 18px 0 0 0;
  position: relative;
  color: #000000;
  width: auto;
  padding: 5px 0 0 491px;
  z-index: 1;
  font-family: "Hind", sans-serif;
  font-size: 27px;
  font-weight: 500;
  line-height: 16px; }
  .section .section_text:before {
    position: absolute;
    width: 130px;
    height: 28px;
    top: 0px;
    left: 635px;
    line-height: 17px;
    background-color: #14a0c7;
    content: "";
    z-index: -1; }
.section .section_card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  padding-left: 130px; }
  .section .section_card_wrap .section_card {
    display: flex;
    flex-direction: row;
    background: #21232e;
    width: 743px;
    height: 220px;
    align-items: center;
    border-radius: 5px;
    margin: 20px 100px 13px 0; }
    .section .section_card_wrap .section_card .section_card_img {
      width: 51%;
      border-radius: 5px;
      margin-left: 11px; }
    .section .section_card_wrap .section_card .section_card_right_container {
      width: 600px;
      text-align: center; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        color: #ffffff;
        font-weight: 600;
        margin-top: 27px;
        padding-left: 0px; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
        color: #c0c3ce;
        margin: 17px 80px 20px 60px;
        text-align: justify;
        font-family: "Hind", sans-serif;
        font-size: 11px;
        font-weight: 300;
        line-height: 15px; }
      .section .section_card_wrap .section_card .section_card_right_container .section_link {
        color: #c0c3ce;
        padding-left: 10px;
        font-size: 10px;
        font-family: "Hind", sans-serif; }
.section .section_banner {
  position: relative;
  color: #000000;
  background: linear-gradient(to right, #61901d, #4a796e, #3664b8);
  width: 799px;
  height: 95px;
  border-radius: 5px;
  margin: 46px 0 0 231px; }
  .section .section_banner .section_banner_text_wrap {
    display: inline-block; }
    .section .section_banner .section_banner_text_wrap .section_banner_heading {
      position: relative;
      margin-bottom: 0px;
      padding-left: 110px;
      z-index: 1;
      font-family: "Hind", sans-serif;
      font-size: 20px;
      font-weight: bolder;
      line-height: 14px; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading:after {
        position: absolute;
        width: 43px;
        height: 15px;
        top: 0px;
        left: 190px;
        line-height: 17px;
        background-color: #14a0c7;
        content: "";
        z-index: -1; }
    .section .section_banner .section_banner_text_wrap .section_banner_text {
      color: #acc3ce;
      font-family: "Hind", sans-serif;
      font-size: 10px;
      margin-top: 0px;
      padding-left: 110px; }
  .section .section_banner button {
    float: right;
    margin: 30px 110px 0 0;
    width: 95px;
    height: 34px;
    background: #5d8d29;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: "Hind", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px; }

.footer {
  position: absolute;
  display: flex;
  color: #c0c3ce;
  background-color: #21232e;
  width: 86%;
  height: 64px;
  top: 1400px;
  margin-left: -8px;
  padding: 90px 0px 0 192px;
  z-index: -1; }
  .footer .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: -65px;
    padding-right: 65px; }
    .footer .footer-wrap .landing-logo {
      display: flex;
      margin-bottom: 37px; }
      .footer .footer-wrap .landing-logo img {
        width: 30px;
        height: 30px;
        padding-left: 0px;
        padding-top: 160px; }
      .footer .footer-wrap .landing-logo p {
        margin: 0px;
        padding: 157px 0 0 10px;
        color: #ffffff;
        font-family: "Hind", sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px; }
        .footer .footer-wrap .landing-logo p span {
          display: block;
          padding-left: 10px;
          border-bottom: 15px;
          font-family: "Hind", sans-serif;
          font-size: 0.4em;
          font-weight: 300;
          line-height: 0.4em; }
    .footer .footer-wrap .footer_text, .footer .footer-wrap .footer-cr {
      width: 200px;
      font-size: 10px;
      padding: 0 0px 30px 0; }
    .footer .footer-wrap .footer-cr {
      margin-bottom: 30px; }
