* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black;*/
}

body {
    background: linear-gradient(to right, #fdfc47, #24fe41);
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 3vh;
    height: 13vh;
    margin: 1em 1em;
    padding: 0.5em 2em;
}

.btn__fonts {
    font-weight: 600;
    font-size: 3vh;
    height: 11vh;
}

.btn__hidden,
.div__show {
    display: none;
}

.btn__header_left,
.btn__header_right,
.btn__group {
    background-color: coral;
}

.btn__header_left:hover,
.btn__header_right:hover,
.btn__group:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main__question {
    height: 0vh;
    text-align: center;
    padding: 4em 0;
    font-family: 'Sansita Swashed', cursive;
}

.div__show {
    padding: 2em 20em;
    font-size: 4vh;
    font-family: 'Sansita Swashed', cursive;
}

.main__footer {
    padding: 1em 7.7em;
    font-family: 'Sansita Swashed', cursive;
}