@mixin logoSize ($width, $height, $padding-left, $padding-top) {
	width: $width;
	height: $height;
	padding-left: $padding-left;
	padding-top: $padding-top;
}

@mixin logoText ($margin, $padding, $color) {
	margin: $margin;
	padding: $padding;
	color: $color;
}

@mixin logoTextSpan ($display, $padding-left, $border-bottom) {
	display: $display;
	padding-left: $padding-left;
	border-bottom: $border-bottom;
}

@mixin fontFamily($font-family, $font-size, $font-weight, $line-height) {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;	
}

@mixin textPositioning($position, $color, $width, $padding, $z-index) {
	position: $position;
	color: $color;
	width: $width;
	padding: $padding;
	z-index: $z-index;
}

@mixin button ($width, $height, $background, $color-text, $border, $border-radius) {
	width: $width;
	height: $height;
	background: $background;
	color: $color-text;
	border: $border;
	border-radius: $border-radius;
}

@mixin textSelectedAfter ($position, $width, $height, $top, $left, $line-height, $background-color, $content: '', $z-index: -1) {
	position: $position;
	width: $width;
	height: $height;
	top: $top;
	left: $left;
	line-height: $line-height;
	background-color: $background-color;
	content: $content;
	z-index: $z-index;
}

@mixin link ($color, $padding-left, $font-size, $font-family) {
	color: $color;
	padding-left: $padding-left;
	font-size: $font-size;
	font-family: $font-family;
}


$colors: (white: #ffffff,
	black: #000000,
	subwhite: #c0c3ce);

body {
	background-color: $colorSection;
}

.header-wrap {
	background: $background;
	background-position: center;
	border-bottom-right-radius: 350px;
	margin: -0.5em;
	padding: 0 5vw 22vh 0;

	.landing-logo {
		display: flex;

		img {
			@include logoSize(2.5vw, 5vh, 10vw, 2vh);
		}

		p {
			@include logoText(0px, 2.5vh 0 0 0.3vw, $colorTextLogo);
			@include fontFamily($fontFamilyHind, 1em, 600, 1em);

			span {
				@include logoTextSpan (block, 0.6vw, 1vh);
				@include fontFamily($fontFamilyHind, 0.4em, 300, 0.4em);
				color: $colorTextLogo;
			}
		}
	}

	.header_heading {
		margin: 0;

		@include textPositioning(relative, $colorTextHeader, 30%, 1.3em 0 0 2.8em, 1);
		@include fontFamily($fontFamilyHind, 2.9em, 900, 1em);

		&:after {
			@include textSelectedAfter(absolute, 40%, 25%, 18vh, 21vh, 1vh, $colorText);
		}
	}

	.header_text {
		@include textPositioning(relative, $colorTextHeader, 410px, 21px 0 0 128px, 0);
		@include fontFamily($fontFamilyHind, 12px, 300, 17px);
	}

	.header_button {
		@include button (95px, 34px, $colorButton, #ffffff, none, 2px);
		@include fontFamily($fontFamilyHind, 12px, 600, 14px);

		margin: 25px 0 0 127px;
	}

	.login {
		@include link(#ffffff, 98px, 13px, $fontFamilyHind);
	}
}

.section {
	.section_text {
		margin: 18px 0 0 0;

		@include textPositioning(relative, $colorSectionText, auto, 5px 0 0 491px, 1);
		@include fontFamily($fontFamilyHind, 27px, 500, 16px);

		&:before {
			@include textSelectedAfter(absolute, 130px, 28px, 0px, 635px, 17px, $colorText);
		}
	}

	.section_card_wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 14px;
		padding-left: 130px;

		.section_card {
			display: flex;
			flex-direction: row;
			background: $colorSectionCard;
			width: 743px;
			height: 220px;
			align-items: center;
			border-radius: 5px;
			margin: 20px 100px 13px 0;

			.section_card_img {
				width: 51%;
				border-radius: 5px;
				margin-left: 11px;
			}

			.section_card_right_container {
				width: 600px;
				text-align: center;

				.section_card_heading {
					color: #ffffff;
					font-weight: 600;
					margin-top: 27px;
					padding-left: 0px;
				}

				.section_card_text {
					color: #c0c3ce;
					margin: 17px 80px 20px 60px;
					text-align: justify;

					@include fontFamily($fontFamilyHind, 11px, 300, 15px)
				}

				.section_link {
					@include link(#c0c3ce, 10px, 10px, $fontFamilyHind);
				}
			}
		}
	}

	.section_banner {
		position: relative;
		color: $colorGradientText;
		background: linear-gradient($linearGradient);
		width: 799px;
		height: 95px;
		border-radius: 5px;
		margin: 46px 0 0 231px;

		.section_banner_text_wrap {
			display: inline-block;

			.section_banner_heading {
				position: relative;
				margin-bottom: 0px;
				padding-left: 110px;
				z-index: 1;

				@include fontFamily($fontFamilyHind, 20px, bolder, 14px);

				&:after {
					@include textSelectedAfter(absolute, 43px, 15px, 0px, 190px, 17px, $colorText);
				}
			}

			.section_banner_text {
				color: #acc3ce;
				font-family: $fontFamilyHind;
				font-size: 10px;
				margin-top: 0px;
				padding-left: 110px;
			}
		}

		button {
			float: right;
			margin: 30px 110px 0 0;

			@include button (95px, 34px, $colorButton, #ffffff, none, 2px);
			@include fontFamily($fontFamilyHind, 12px, 600, 14px);
		}
	}
}

.footer {
	position: absolute;
	display: flex;
	color: map-get($colors, subwhite);
	background-color: $colorFooter;
	width: 86%;
	height: 64px;
	top: 1400px;
	margin-left: -8px;
	padding: 90px 0px 0 192px;
	z-index: -1;

	.footer-wrap {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		margin-left: -65px;
		padding-right: 65px;

		.landing-logo {
			display: flex;
			margin-bottom: 37px;

			img {
				@include logoSize(30px, 30px, 0px, 160px);
			}

			p {
				@include logoText(0px, 157px 0 0 10px, #ffffff);
				@include fontFamily($fontFamilyHind, 14px, 300, 16px);

				span {
					@include logoTextSpan(block, 10px, 15px);
					@include fontFamily($fontFamilyHind, 0.4em, 300, 0.4em);
				}
			}
		}

		.footer_text {
			width: 200px;
			font-size: 10px;
			padding: 0 0px 30px 0;
		}

		.footer-cr {
			@extend .footer_text;
			margin-bottom: 30px;
		}
	}
}