$background: url(../img/m-h-night.jpg);
$colorBackground: #3b3f50;
$colorTextLogo: #ffffff;
$colorText: #ff4e33;
$colorTextHeader: #ffffff; 
$colorButton: #e3ac00;
$colorSection: #21232e; 
$colorSectionText: #ffffff;
$colorSectionCard: #3b3f50; 
$colorFooter: #3b3f50;
$colorGradientText: #ffffff;
$linearGradient: to right, #dda307, #b7662e, #98364c;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilySand: 'Source Sans Pro', sans-serif;