$background: url(../img/m-h-day.jpg);
$colorBackground: #ffffff;
$colorTextLogo: #000000;
$colorText: #14a0c7;
$colorTextHeader: #2c2f3c; 
$colorButton: #5d8d29;
$colorSection: #ffffff; 
$colorSectionText: #000000;
$colorSectionCard:#21232e; 
$colorFooter: #21232e;
$colorGradientText: #000000;
$linearGradient: to right, #61901d, #4a796e, #3664b8;
$fontFamilyHind: 'Hind', sans-serif;
$fontFamilySand: 'Source Sans Pro', sans-serif;


$colors: (white: #ffffff,
	black: #000000,
	subwhite: #c0c3ce);

