*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
}

.tab{
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
}

.tab.active{
  background-color: #e51c23;
  color: #fff;
  font-weight: bold;
}

.hidden{
  display: none;
}

.rm{
  background-color: #e51c23;
  color: #fff;
  font-weight: bold;
}

.desc{
  cursor: pointer;
}