.tm-bg-color-primary {
    background: #76cdd8;
}

.btn-primary,
.btn-secondary,
.tm-bg-color-secondary {
    background: #019999;
    border: 1px solid #019999;
}

.mb-4 {
    color: #76cdd8;
}

.mb-lg-0 {
    color: black;
}

.tm-pricing-table {
    border: 1px solid #019999;
}

.tm-form-header {
    background: #23d4d4;
}

.tm-pricing-discount__star {
    color: red;
}

.tm-pricing-discount__text {
    color: #23d4d4;
}

.tm-col-md-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.tm-mb-30 {
    margin-bottom: 30px;
}


.tm-form-footer {
    top: -100px;
}

.tm-contact-form {
    z-index: 1;
    top: -50px;
}

.tm-copyright-text {
    margin-top: -100px;
}

.tm-card:hover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 60px 0;
    border-color: transparent #76cdd8;
}

.tm-col-md-reverse:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    border-color: #76cdd8 transparent transparent transparent;
}

.btn-primary:hover {
    background: rgb(118, 205, 216);
    border: solid 1px rgb(118, 205, 216);
}

.img-fluid:hover {
    transform: scale(1.1);
}

.tm-pricing-table:hover .tm-pricing-discount {
    display: block;
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.btn-secondary:hover {
    background: #24d4d4;
    border: #24d4d4;
}

.form-control:focus,
.form-group select:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}